.CurrentWeather .temperature {
    text-align: right;
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 71px;
    color: #5a5560;
    line-height: 1;
    padding-right: 0px;
}

.CurrentWeather .units {
    font-size: 10px;
    position: relative;
    top: -45px;
}

.description ul {
    list-style: none;
    padding: 0;
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 12px;
    color: #5a5560;
    line-height: 2;
    font-style: italic;
}